extends layout
block content
    h5 Welcome to the shop.
    h1 VIHAN
    hr
    topic User name
    input(type='text')
    br
    topic Password
    input(type='password')
    button(title='Sign in')
    br
    a(href='http://localhost:3500/musics/liked-music' download='music.mp3') beloved music!
    br
    a(href='http://google.com') google